body {
    width: 250px;
    height: 300px;
    font-size: 18px;
    margin: 0px;
}

header {
    text-align: center;
    padding: 8px;
    color: #007bff;
    font-weight: bold;
}

main {
    background-color: #0d47a1;
    padding: 10px;
}

.area-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.area-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 2px;
}

.area-links a:hover {
    font-weight: 600;
}

footer {
    background-color: #ffffff;
    height: 72px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

.area-redes-sociais {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5px;
}

.lista {
    color: #fff;
}

.itens {
    padding: 3px;
}

.link {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.link-facebook {
    background-color: #3b5998 !important;
}

.link-instagram {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.link-whatsapp {
    background-color: #25d366 !important;
}

.icon {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 33px !important;
}